/* Light theme by default */
:root {
  --pt-background: var(--pt-white);
  --pt-text: var(--pt-slate-600);
  --pt-heading: var(--pt-slate-800);
  --pt-border: var(--pt-slate-200);
  --pt-progress-bar: var(--pt-slate-300);

  --pt-success-icon: var(--pt-green-600);
  --pt-success-border: var(--pt-green-600);

  --pt-error-icon: var(--pt-red-500);
  --pt-error-border: var(--pt-red-500);

  --pt-warning-icon: var(--pt-yellow-500);
  --pt-warning-border: var(--pt-yellow-400);

  --pt-info-icon: var(--pt-slate-500);
  --pt-info-border: var(--pt-slate-200);

  --pt-debug-icon: var(--pt-blue-600);
  --pt-debug-border: var(--pt-blue-600);

  --pt-spinner-icon: var(--pt-slate-500);
  --pt-spinner-border: var(--pt-slate-400);

  --pt-progress-icon: var(--pt-blue-600);
  --pt-progress-border: var(--pt-blue-600);
}

/* Dark theme when user prefers dark color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --pt-background: var(--pt-slate-800);
    --pt-text: var(--pt-slate-300);
    --pt-heading: var(--pt-slate-50);
    --pt-border: var(--pt-slate-700);
    --pt-progress-bar: var(--pt-slate-500);

    --pt-success-icon: var(--pt-green-500);
    --pt-success-border: var(--pt-green-600);

    --pt-error-icon: var(--pt-red-500);
    --pt-error-border: var(--pt-red-500);

    --pt-warning-icon: var(--pt-yellow-500);
    --pt-warning-border: var(--pt-yellow-400);

    --pt-info-icon: var(--pt-slate-400);
    --pt-info-border: var(--pt-slate-700);

    --pt-debug-icon: var(--pt-blue-300);
    --pt-debug-border: var(--pt-blue-600);

    --pt-spinner-icon: var(--pt-slate-400);
    --pt-spinner-border: var(--pt-slate-400);

    --pt-progress-icon: var(--pt-blue-300);
    --pt-progress-border: var(--pt-blue-600);
  }
}
