body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    sans-serif;
}
:root {
  --vt-white: #ffffff;
  --vt-slate-50: #f8fafc;
  --vt-slate-200: #e2e8f0;
  --vt-slate-300: #cbd5e1;
  --vt-slate-400: #94a3b8;
  --vt-slate-500: #64748b;
  --vt-slate-600: #475569;
  --vt-slate-700: #334155;
  --vt-slate-800: #1e293b;
  --vt-black: #000000;

  --vt-green-500: #22c55e;
  --vt-green-600: #16a34a;
  --vt-red-500: #ef4444;
  --vt-yellow-400: #facc15;
  --vt-yellow-500: #eab308;
  --vt-blue-300: #93c5fd;
  --vt-blue-600: #2563eb;

  --vt--background: var(--vt-white);
  --vt--text: var(--vt-slate-600);
  --vt--heading: var(--vt-slate-800);
  --vt--border: var(--vt-slate-200);
  --vt-progress-bar: var(--vt-slate-300);

  --vt-success-icon: var(--vt-green-600);
  --vt-success-border: var(--vt-green-600);

  --vt-error-icon: var(--vt-red-500);
  --vt-error-border: var(--vt-red-500);

  --vt-warning-icon: var(--vt-yellow-500);
  --vt-warning-border: var(--vt-yellow-400);

  --vt-info-icon: var(--vt-slate-500);
  --vt-info-border: var(--vt-slate-200);

  --vt-debug-icon: var(--vt-blue-600);
  --vt-debug-border: var(--vt-blue-600);

  --vt-spinner-icon: var(--vt-slate-500);
  --vt-spinner-border: var(--vt-slate-400);
}

[data-vt-container] {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  pointer-events: none;
}

/* --------- Notification Base --------- */

.vt-toast {
  position: relative;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 16rem;
  min-height: 1rem;
  padding: 1.5rem;
  pointer-events: auto;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  box-shadow: 0rem 0.25rem 0.75rem 0rem hsla(0, 0%, 0%, 0.09);
  border-radius: 0.375rem;
  font-size: 1rem;
  background-color: var(--vt--background);
  border-color: var(--vt--border);
  border-style: solid;
  border-width: 1px;
  border-top-width: 0.5rem;
}

.vt-toast-heading-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.vt-toast-heading {
  font-weight: 500;
  color: var(--vt--heading);
}

.vt-toast-body {
  font-weight: 400;
  color: var(--vt--text);
}

.vt-toast-progress-bar {
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: var(--vt-progress-bar);
}

/* --------- Notification Types --------- */

.vt-toast.is-info {
  border-top-color: var(--vt-info-border);
}

.vt-toast.is-success {
  border-top-color: var(--vt-success-border);
}

.vt-toast.is-error {
  border-top-color: var(--vt-error-border);
}

.vt-toast.is-warning {
  border-top-color: var(--vt-warning-border);
}

.vt-toast.is-debug {
  border-top-color: var(--vt-debug-border);
}

.vt-toast.is-spinner {
  border-top-color: var(--vt-spinner-border);
}

/* --------- Icons --------- */

.vt-toast-icon {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
}
.vt-toast-icon.is-success {
  color: var(--vt-success-icon);
}
.vt-toast-icon.is-warning {
  color: var(--vt-warning-icon);
}
.vt-toast-icon.is-info {
  color: var(--vt-info-icon);
}
.vt-toast-icon.is-error {
  color: var(--vt-error-icon);
}
.vt-toast-icon.is-debug {
  color: var(--vt-debug-icon);
}
.vt-toast-icon.is-spinner {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--vt-spinner-icon);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: vt-spinner 1s linear infinite;
}

/* --------- Animations --------- */

@keyframes vt-progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes vt-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vt-dark-mode {
  --vt--background: var(--vt-slate-800);
  --vt--text: var(--vt-slate-300);
  --vt--heading: var(--vt-slate-50);
  --vt--border: var(--vt-slate-700);
  --vt-progress-bar: var(--vt-slate-500);

  --vt-success-icon: var(--vt-green-500);
  --vt-success-border: var(--vt-green-600);

  --vt-error-icon: var(--vt-red-500);
  --vt-error-border: var(--vt-red-500);

  --vt-warning-icon: var(--vt-yellow-500);
  --vt-warning-border: var(--vt-yellow-400);

  --vt-info-icon: var(--vt-slate-400);
  --vt-info-border: var(--vt-slate-700);

  --vt-debug-icon: var(--vt-blue-300);
  --vt-debug-border: var(--vt-blue-600);

  --vt-spinner-icon: var(--vt-slate-400);
  --vt-spinner-border: var(--vt-slate-400);
}
